.home-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vh;
  height: 50vh;
  margin-top: 5vh;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  .home-p,
  .goal-p {
    padding-top: 4vh;
  }
}
