.navbar {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  background-color: #333;

  width: 100vw;
  height: 5vh;

  .nav-links {
    display: flex;
    width: 80vw;
    height: 100%;

    .nav-item {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 100vw;

      text-decoration: none;
      font-weight: 700;
      font-family: sans-serif;
      color: white;
    }
  }
}
